@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/scrollbar.css */

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  
}

::-webkit-scrollbar-thumb {
  background: #035cf7; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2D3748; 
}

::-webkit-scrollbar-track {
  background: #E2E8F0; 
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #4A5568 #E2E8F0;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background: #E2E8F0;
}

html::-webkit-scrollbar-thumb {
  background-color: #4A5568;
  border-radius: 6px;
  border: 1px solid #E2E8F0;
}


/*flip animation*/
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  
}
.flip-card-front{
  justify-content: flex-start;
  /* border: 2px solid #9b59b6; */
  padding: 2px;
}

.flip-card-front img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.flip-card-back {
  transform: rotateY(180deg);
}


/* InfiniteMovingCards */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 10s linear infinite;
}



